body
{
   background-color: #333;

   overflow: hidden;

   min-height: 480px;
}

.background-holder
{
   background-image: linear-gradient(bottom, rgb(112,112,112) 0%, rgb(31,31,31) 100%);
   background-image: -o-linear-gradient(bottom, rgb(112,112,112) 0%, rgb(31,31,31) 100%);
   background-image: -moz-linear-gradient(bottom, rgb(112,112,112) 0%, rgb(31,31,31) 100%);
   background-image: -webkit-linear-gradient(bottom, rgb(112,112,112) 0%, rgb(31,31,31) 100%);
   background-image: -ms-linear-gradient(bottom, rgb(112,112,112) 0%, rgb(31,31,31) 100%);

   background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(112,112,112)),
      color-stop(1, rgb(31,31,31))
   );

   position: absolute; 
   left: 0px; 
   top: 0px; 
   bottom: 0px; 
   right: 0px; 

   z-index: -3;

   overflow: hidden;
}

#background
{
   position: absolute;
   top: 0px;
   
   right: 0px;
   bottom: 0px;
   z-index: -2;

   -moz-user-select: none; 
   -khtml-user-select: none; 
   -webkit-user-select: none; 
   -o-user-select: none; 
}

#whiteout
{
   position: absolute;
   top: 0px;
   left: 0px;
   right: -1px;
   bottom: 0px;

   background-color: black;
   z-index: 5;

   display: none;
}

body
{
   font-family: "Yanone Kaffeesatz", sans-serif;
}

.titlebar
{
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   height: 82px;
   background-color: #EEE;

   text-align: right;
}

.name-banner
{
   position: absolute;
   top: 30px;
   left: -60px;
   width: 627px;
   height: 236px;

   background-image: url(http://i.imgur.com/DgMH8Gr.png);
}

#menu
{
   position: absolute;
   left: 0px;
   bottom: 10%;
   right: 0px;

   height: 130px;
   overflow: hidden;
}

.panel
{
   color: white;
   display: inline-block;

   text-align: left;

   margin: 0px;
   padding-left: 0px;
   padding-right: 0px;

   padding-top: 10px;
   padding-bottom: 10px;

   width: 20%;

   cursor: pointer;
   vertical-align: top;

   text-align: center;
}

.panel-punchline
{
   display: block;
   font-size: 26pt;
   font-weight: 700;

   margin-bottom: -10px;
}

.panel-intro
{
   display: block;
   font-size: 20pt;
   font-weight: 200;

   padding-bottom: 3px;
}

.panel:hover
{
   background: #444;
}

.panel-intro i
{
   display: inline;
   font-size: 18px;
}

/* Color Schemes */
.scheme-professional { background-color: #6060A0; }
.scheme-projects     { background-color: #BD5E27; }
.scheme-film         { background-color: #5BB12F; }
.scheme-current      { background-color: #AF4036; }
.scheme-contact      { background-color: #C455AC; }


/* Popover Panel */
#content
{
   overflow: scroll;
   -webkit-overflow-scrolling: touch;
   padding-bottom: 40px;

   position: absolute;
   z-index: 5;

   top: 0px;
   right: -1px;
   bottom: 0px;
   left: 0px;

   background-color: rgba(0,0,0,0.9);
   *background-color: black;

   display: none;
}

.content-title
{
   color: white;
   font-size: 28pt;
   font-weight: 600;

   padding: 10px;
   padding-left: 20px;

   width: 640px;
   margin-left: auto;
   margin-right: auto;
}
.content-title i
{
   float: right;
   padding-top: 2px;
   padding-right: 2px;

   cursor: pointer;
}

.content-body
{
   padding: 30px;
}

.content-text
{
   font-family: helvetica, arial, sans-serif;
   color: white;
   padding: 20px;

   font-weight: 100;

   width: 640px;

   margin-left: auto;
   margin-right: auto;

   color: #eee;
}

a
{
   color: #6D8FD0;
   text-decoration: none;
}

a:hover
{
   color: #ccc;
   text-decoration: underline;
}

p
{
   margin-bottom: 10px;
}

#content-back
{
   width: 300px;
   font-size: 24pt;
   color: white;

   margin-left: auto;
   margin-right: auto;
}


.go-back
{
   cursor: pointer;
}


.go-back:hover, .go-back:hover *
{
   color: #444;
}

h1
{
   margin-top: 60px;
   font-size: 28pt;

   color: #eee;
   border-top: solid 2px #eee;
   padding-top: 10px;

   font-family: "Yanone Kaffeesatz", sans-serif;
}

.check-out
{
   display: block;

   font-family: 'Oleo Script Swash Caps', cursive;
   font-size: 18pt;
   color: white;
   text-align: right;

   padding-right: 100px;

   text-shadow: 0px 0px 6px black;
}

.check-out i
{
   font-size: 14pt;

}


/* Support for smaller displays */
@media all and (min-width: 750px) and (max-width: 1100px)
{
   .panel-punchline { font-size: 22pt; margin-bottom: -6px; }
   .panel-intro     { font-size: 14pt; }
   .panel-intro i   { font-size: 16px; }
}

@media all and (max-width: 749px)
{
   .panel-punchline { font-size: 16pt; margin-bottom: -4px; }
   .panel-intro     { font-size: 10pt; }
   .panel-intro i   { font-size: 12px; }
}

.appstore
{
   background: url(appstore.png);
   width: 150px;
   height: 53px;
   display: inline-block;
   vertical-align: middle;
   float: right;

   cursor: pointer;
}

.appstore:hover
{
   background: url(appstore-white.png);
}